@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="uk">
<head>
    <title>Connection</title>
</head>
    <body>
        <div>
              @Html.Action("ComboBoxDB")
        </div>
    </body>
</html>