@using DevExpress.Web.Mvc.UI
@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Scripts/MainScripts/readini.js"></script>

<div>
    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "Btn";
        settings.Text = "Boton";
        settings.ControlStyle.CssClass = "btn btn-outline-success btn-sm";
    }).GetHtml()
</div>
<text id="texto" name="texto">fgh</text>
<input type="file" id="inputfile" name="inputfile" onchange="readFiles(this)"/>